Repository inhibitor1217/coffee-hmm, pull requests merged in 2021-09, with the labels that each got.

#154 feat: implement on-demand image resizing CF, Lambda@Edge
  jobs/.eslintrc.json
  jobs/Makefile
  jobs/package.json
  jobs/res/BaseLambdaEdgeRole.yml
  jobs/res/GenerateSitemapRole.yml
  jobs/res/OriginResponseLambdaEdgeRole.yml
  jobs/serverless.cloudfront.yml
  jobs/serverless.yml
  jobs/src/job/generateSitemap.ts
  jobs/src/job/resizeImage/const.ts
  jobs/src/job/resizeImage/originResponse.ts
  jobs/src/job/resizeImage/util.ts
  jobs/src/job/resizeImage/viewerRequest.ts
  jobs/src/services/api/index.ts
  jobs/src/services/resize/index.ts
  jobs/src/services/s3/index.ts
  jobs/src/types/cloudFrontEvent.ts
  jobs/src/types/dimension.ts
  jobs/src/types/event.ts
  jobs/src/types/scheduledEvent.ts
  jobs/src/util/handler/cloudfrontEventHandler.ts
  jobs/src/util/handler/scheduledEventHandler.ts
  jobs/src/util/handler/util.ts
  jobs/src/util/logger.ts
  jobs/src/util/logger/baseLogger.ts
  jobs/src/util/logger/index.ts
  jobs/src/util/logger/logger.ts
  jobs/src/util/logger/simpleLogger.ts
  jobs/src/util/logger/type.ts
  jobs/src/util/logger/util.ts
  jobs/src/util/scheduledEventHandler.ts
  jobs/webpack.config.js
  jobs/yarn.lock
Labels: backend, feature

#179 feat: implement on-demand image resizing CF, Lambda@Edge (#154)
  jobs/.eslintrc.json
  jobs/Makefile
  jobs/package.json
  jobs/res/BaseLambdaEdgeRole.yml
  jobs/res/GenerateSitemapRole.yml
  jobs/res/OriginResponseLambdaEdgeRole.yml
  jobs/serverless.cloudfront.yml
  jobs/serverless.yml
  jobs/src/job/generateSitemap.ts
  jobs/src/job/resizeImage/const.ts
  jobs/src/job/resizeImage/originResponse.ts
  jobs/src/job/resizeImage/util.ts
  jobs/src/job/resizeImage/viewerRequest.ts
  jobs/src/services/api/index.ts
  jobs/src/services/resize/index.ts
  jobs/src/services/s3/index.ts
  jobs/src/types/cloudFrontEvent.ts
  jobs/src/types/dimension.ts
  jobs/src/types/event.ts
  jobs/src/types/scheduledEvent.ts
  jobs/src/util/handler/cloudfrontEventHandler.ts
  jobs/src/util/handler/scheduledEventHandler.ts
  jobs/src/util/handler/util.ts
  jobs/src/util/logger.ts
  jobs/src/util/logger/baseLogger.ts
  jobs/src/util/logger/index.ts
  jobs/src/util/logger/logger.ts
  jobs/src/util/logger/simpleLogger.ts
  jobs/src/util/logger/type.ts
  jobs/src/util/logger/util.ts
  jobs/src/util/scheduledEventHandler.ts
  jobs/webpack.config.js
  jobs/yarn.lock
Labels: release

#180 feat: 이미지 리사이징 적용
  mobile_app/lib/cafe_image.dart
  mobile_app/lib/image.dart
  mobile_app/lib/util/environment.dart
Labels: mobile

#181 모바일 UX 개선
  mobile_app/lib/cafe_image.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/widgets/delayed_widget.dart
  mobile_app/lib/widgets/image_progress_indicator.dart
Labels: mobile

#178 feat: launch screen 변경
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  mobile_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
Labels: mobile

#182 release (mobile_app): 1.0.1
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  mobile_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
  mobile_app/lib/cafe_image.dart
  mobile_app/lib/header.dart
  mobile_app/lib/image.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/lib/util/environment.dart
  mobile_app/lib/widgets/delayed_widget.dart
  mobile_app/lib/widgets/image_progress_indicator.dart
  mobile_app/pubspec.yaml
Labels: release, mobile

#184 Revert "feat: ios launch-screen 변경 (#178)"
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  mobile_app/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  mobile_app/ios/Runner/Base.lproj/LaunchScreen.storyboard
Labels: revert

#185 fix: 파일 재배치
  mobile_app/lib/api/api.dart
  mobile_app/lib/cafe.dart
  mobile_app/lib/cafe_image.dart
  mobile_app/lib/cafe_image_slider.dart
  mobile_app/lib/constants/enum.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/constants/util.dart
  mobile_app/lib/detail_button.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_slider_section.dart
  mobile_app/lib/main_tab.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/pages/main_page.dart
  mobile_app/lib/pages/settings_page.dart
  mobile_app/lib/pages/web_view.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
Labels: mobile

#187 feat: 디테일 페이지 하단 floating button 추가
  mobile_app/lib/pages/detail_page.dart
Labels: mobile

#186 feat: 디테일 페이지 카페 메타데이터 추가
  mobile_app/lib/cafe.dart
  mobile_app/lib/cafe_info.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/detail_button.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_slider_section.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/lib/pages/detail_page.dart
Labels: mobile

#188 feat: Color System
  mobile_app/lib/cafe_image_slider.dart
  mobile_app/lib/cafe_info.dart
  mobile_app/lib/constants/color.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_tab.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/pages/main_page.dart
Labels: mobile

#189 fix: 클래스 세분화 및 파일 재배치
  mobile_app/lib/cafe_info.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/pages/main_page.dart
  mobile_app/lib/pages/settings_page.dart
  mobile_app/lib/pages/web_view.dart
  mobile_app/lib/util/cafe_detail.dart
  mobile_app/lib/util/common.dart
  mobile_app/lib/util/image.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_subway_item.dart
  mobile_app/lib/view/cafe_main/cafe_image_card.dart
  mobile_app/lib/view/cafe_main/cafe_main_info.dart
  mobile_app/lib/view/cafe_main/main_bottom_sheet.dart
  mobile_app/lib/view/cafe_main/main_button.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/cafe_main/main_tab.dart
  mobile_app/lib/view/cafe_main/main_table_section.dart
  mobile_app/lib/view/common/cafe_image.dart
  mobile_app/lib/view/common/cafe_image_slider.dart
  mobile_app/lib/view/common/cafe_name.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/common/image_index_bullet.dart
  mobile_app/lib/view/common/skeleton.dart
Labels: mobile

#190 fix: FloatingButton 클래스 분리
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/view/common/floating_button.dart
Labels: refactor, mobile

#191 fix: 메인 페이지 메타 데이터 수정
  mobile_app/lib/util/cafe_detail.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_subway_item.dart
  mobile_app/lib/view/cafe_main/cafe_main_info.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/cafe_main/main_table_section.dart
  mobile_app/lib/view/common/cafe_info_item.dart
  mobile_app/lib/view/common/text_info.dart
Labels: mobile

#193 fix: floating button 여백 수정
  mobile_app/lib/view/common/floating_button.dart
Labels: bug, mobile

#192 버전 수정 (1.1.0+5)
  mobile_app/pubspec.yaml
Labels: mobile

#194 fix: 지하철역 메타데이터 디자인 수정
  mobile_app/lib/view/cafe_detail/cafe_detail_info_subway_item.dart
Labels: mobile

#195 release (mobile_app): 1.1.0
  mobile_app/lib/api/api.dart
  mobile_app/lib/cafe.dart
  mobile_app/lib/constants/color.dart
  mobile_app/lib/constants/enum.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/detail_button.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/pages/main_page.dart
  mobile_app/lib/pages/settings_page.dart
  mobile_app/lib/pages/web_view.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/util/cafe_detail.dart
  mobile_app/lib/util/common.dart
  mobile_app/lib/util/image.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_subway_item.dart
  mobile_app/lib/view/cafe_main/cafe_image_card.dart
  mobile_app/lib/view/cafe_main/cafe_main_info.dart
  mobile_app/lib/view/cafe_main/main_bottom_sheet.dart
  mobile_app/lib/view/cafe_main/main_button.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/cafe_main/main_tab.dart
  mobile_app/lib/view/cafe_main/main_table_section.dart
  mobile_app/lib/view/common/cafe_image.dart
  mobile_app/lib/view/common/cafe_image_slider.dart
  mobile_app/lib/view/common/cafe_info_item.dart
  mobile_app/lib/view/common/cafe_name.dart
  mobile_app/lib/view/common/floating_button.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/common/image_index_bullet.dart
  mobile_app/lib/view/common/skeleton.dart
  mobile_app/lib/view/common/text_info.dart
  mobile_app/pubspec.yaml
Labels: release, mobile

#196 fix: 디테일 페이지 Scaffold 하위에서 FutureBuilder 실행
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/view/common/error.dart
  mobile_app/lib/view/common/header.dart
Labels: bug, mobile

#197 chore: update build number to 1.1.1+6
  mobile_app/pubspec.yaml
Labels: mobile

#198 release (mobile_app): 1.1.1
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/view/common/error.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/pubspec.yaml
Labels: release, mobile
