Repository inhibitor1217/coffee-hmm, pull requests merged in 2021-07, with the labels that each got.

#140 feat: add github action cache-invalidation step
  .github/workflows/release-app.yml
  app/.gitignore
  app/package.json
  app/yarn.lock
Labels: frontend, release

#141 fix: add aws credentials as env at backup step of release-app
  .github/workflows/release-app.yml
Labels: hotfix

#142 feat: change sitemap file path to release/sitemap.xml
  jobs/src/job/generateSitemap.ts
Labels: backend

#144 fix: correct tag reference of job release script
  .github/workflows/ci-jobs.yml
Labels: backend, bug

#145 fix: differentiate sitemap file upload path and cache invalidation path
  jobs/src/job/generateSitemap.ts
Labels: backend, hotfix

#146 back-merge: master -> dev/server
  jobs/src/job/generateSitemap.ts
Labels: merge-commit

#148 feat: 메인화면 cafe slider 추가
  mobile_app/lib/cafe.dart
  mobile_app/lib/cafe_image.dart
  mobile_app/lib/main.dart
  mobile_app/lib/type.dart
Labels: mobile

#150 한 장소에 대해 카페 피드 요청을 최대 1번만 하도록 수정
  mobile_app/.gitignore
  mobile_app/lib/main.dart
Labels: mobile

#149 feat: 디테일 페이지 추가
  mobile_app/lib/cafe.dart
  mobile_app/lib/cafe_image.dart
  mobile_app/lib/cafe_image_slider.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/place_list.dart
Labels: mobile

#151 feat: 메인 페이지, 디테일 페이지 버튼 추가
  mobile_app/lib/detail_button.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_cafe_section.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/place_list.dart
  mobile_app/lib/type.dart
  mobile_app/lib/util.dart
Labels: mobile

#152 fix: 누락된 _currentPlace 상태 업데이트 추가
  mobile_app/lib/main_page.dart
Labels: mobile
