Repository inhibitor1217/coffee-hmm, pull requests merged in 2021-08, with the labels that each got.

#153 feat: 메인 페이지 테이블 형 보기 추가 및 장소 리스트 BottomSheet 추가
  mobile_app/lib/cafe.dart
  mobile_app/lib/cafe_image.dart
  mobile_app/lib/cafe_image_slider.dart
  mobile_app/lib/detail_button.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/main_slider_section.dart
  mobile_app/lib/main_tab.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/lib/place_list.dart
  mobile_app/lib/util.dart
Labels: mobile

#155 feat: 네이버, 인스타그램 로고 추가 및 디자인 수정
  mobile_app/assets/images/Hmm_icon.png
  mobile_app/assets/images/Instagram_Glyph_Gradient_RGB.png
  mobile_app/assets/images/Naver_icon.png
  mobile_app/assets/images/hot.svg
  mobile_app/lib/detail_button.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_tab.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/lib/type.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#156 Add place=mixed option to GET /cafe/feed
  services/http-api/README.md
  services/http-api/src/routes/cafe/cafe.control.ts
  services/http-api/src/routes/cafe/list.test.ts
Labels: backend, feature

#158 feat: 흠링크 복사 기능 추가
  mobile_app/lib/detail_button.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/util.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#157 feat: 핫플레이스 api 연동
  mobile_app/lib/api.dart
  mobile_app/lib/main.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/main_slider_section.dart
  mobile_app/lib/main_table_section.dart
Labels: mobile

#161 feat: Navigator 구현 고도화 및 앱 정보 페이지 추가
  mobile_app/lib/api.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/main_slider_section.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/lib/router/app_route_information_parser.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/app_state.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/router/page_configuration.dart
  mobile_app/lib/router/pages.dart
  mobile_app/lib/settings_page.dart
  mobile_app/lib/type.dart
  mobile_app/lib/util/app_stage.dart
  mobile_app/lib/util/environment.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#160 feat: 메인 페이지 이미지 하단 bullet 추가
  mobile_app/assets/images/hot.svg
  mobile_app/lib/cafe_image_slider.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/main_slider_section.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#159 feat: 네이버, 인스타그램 웹뷰 추가
  mobile_app/android/app/build.gradle
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/ios/Runner/Info.plist
  mobile_app/lib/detail_button.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/util.dart
  mobile_app/lib/web_view.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#162 feat: 안드로이드release 빌드 세팅 추가
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/pubspec.lock
Labels: mobile

#164 fix: 미사용 코드 삭제
  mobile_app/ios/Runner/ko-KR.lproj/InfoPlist.strings
  mobile_app/ios/Runner/ko-KR.lproj/LaunchScreen.strings
  mobile_app/ios/Runner/ko-KR.lproj/Main.strings
  mobile_app/ios/Runner/ko.lproj/InfoPlist.string.strings
Labels: mobile

#165 feat: App Stage 설정, Firebase 및 GA 추가
  mobile_app/android/.gitignore
  mobile_app/android/app/build.gradle
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/android/app/src/main/res/values-ko/strings.xml
  mobile_app/android/app/src/main/res/values/strings.xml
  mobile_app/ios/.gitignore
  mobile_app/ios/AppStage-defaults.xcconfig
  mobile_app/ios/Flutter/AppFrameworkInfo.plist
  mobile_app/ios/Flutter/Debug.xcconfig
  mobile_app/ios/Flutter/Release.xcconfig
  mobile_app/ios/Podfile
  mobile_app/ios/Podfile.lock
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile_app/ios/Runner.xcworkspace/contents.xcworkspacedata
  mobile_app/ios/Runner/Info.plist
  mobile_app/ios/Runner/en.lproj/InfoPlist.strings
  mobile_app/ios/Runner/ko.lproj/InfoPlist.strings
  mobile_app/ios/Runner/ko.lproj/LaunchScreen.strings
  mobile_app/ios/Runner/ko.lproj/Main.strings
  mobile_app/lib/api.dart
  mobile_app/lib/main.dart
  mobile_app/lib/settings_page.dart
  mobile_app/lib/util/environment.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
  mobile_app/web/.gitignore
  mobile_app/web/index.html
Labels: mobile

#168 GET /place/list에서 active cafe만 count하도록 수정
  services/http-api/README.md
  services/http-api/package.json
  services/http-api/src/routes/place/index.test.ts
  services/http-api/src/routes/place/place.control.ts
Labels: backend

#167 feat: 로딩 페이지 변경 및 핫플레이스 새로고침 버튼 추가
  mobile_app/assets/images/Hmm_icon.png
  mobile_app/assets/images/loading_text.svg
  mobile_app/lib/cafe.dart
  mobile_app/lib/cafe_image_slider.dart
  mobile_app/lib/detail_button.dart
  mobile_app/lib/header.dart
  mobile_app/lib/main_bottom_sheet.dart
  mobile_app/lib/main_button.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/main_tab.dart
  mobile_app/lib/main_table_section.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#170 hotfix: 테이블 모드 스크롤 이슈 대응
  mobile_app/lib/cafe_image_slider.dart
  mobile_app/lib/detail_page.dart
  mobile_app/lib/main_page.dart
  mobile_app/lib/main_slider_section.dart
  mobile_app/lib/main_table_section.dart
Labels: hotfix, mobile

#171 feat: add beta CI build script for android
  .github/workflows/ci-mobile-app.beta.yml
  mobile_app/android/app/build.gradle
Labels: mobile

#177 chore: configure ios xcode project settings
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
Labels: mobile
