Repository inhibitor1217/coffee-hmm, pull requests merged in 2022-04, with the labels that each got.

#270 feat: add save-cafe function and saved page
  mobile_app/ios/Podfile.lock
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/saved_page.dart
  mobile_app/lib/router/app_route_information_parser.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/app_state.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/router/mixins/enter_saved_mixin.dart
  mobile_app/lib/router/mixins/enter_settings_mixin.dart
  mobile_app/lib/router/page_configuration.dart
  mobile_app/lib/router/pages.dart
  mobile_app/lib/storage/cafe.dart
  mobile_app/lib/storage/model/cafe.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_main/main_bottom_sheet.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/saved/saved_body_content.dart
  mobile_app/lib/view/saved/saved_element.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#285 Create README.md
  mobile_app/README.md
Labels: documentation, mobile

#273 feat: add save-cafe-feed and handle storage update in higher layer
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/lib/view/common/feed.dart
  mobile_app/lib/view/saved/saved_body_content.dart
  mobile_app/lib/view/saved/saved_element.dart
Labels: mobile

#287 release(mobile_app): 1.5.0+16
  .github/workflows/ci-mobile-app.beta.yml
  mobile_app/android/app/build.gradle
  mobile_app/android/build.gradle
  mobile_app/ios/Podfile.lock
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/saved_page.dart
  mobile_app/lib/router/app_route_information_parser.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/app_state.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/router/mixins/enter_saved_mixin.dart
  mobile_app/lib/router/mixins/enter_settings_mixin.dart
  mobile_app/lib/router/page_configuration.dart
  mobile_app/lib/router/pages.dart
  mobile_app/lib/storage/cafe.dart
  mobile_app/lib/storage/model/cafe.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_main/main_bottom_sheet.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/lib/view/common/feed.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/saved/saved_body_content.dart
  mobile_app/lib/view/saved/saved_element.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: release, mobile

#288 fix(workflows/release-app): update flutter sdk version to 2.10.3
  .github/workflows/ci-mobile-app.yml
Labels: bug

#290 hotfix: declare the android:exported attribute
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/pubspec.yaml
Labels: hotfix, mobile

#295 release(mobile): 1.5.1+18
  .github/workflows/ci-mobile-app.beta.yml
  .github/workflows/ci-mobile-app.yml
  mobile_app/android/app/build.gradle
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/android/build.gradle
  mobile_app/ios/Podfile.lock
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/saved_page.dart
  mobile_app/lib/router/app_route_information_parser.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/app_state.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/router/mixins/enter_saved_mixin.dart
  mobile_app/lib/router/mixins/enter_settings_mixin.dart
  mobile_app/lib/router/page_configuration.dart
  mobile_app/lib/router/pages.dart
  mobile_app/lib/storage/cafe.dart
  mobile_app/lib/storage/model/cafe.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_main/main_bottom_sheet.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/lib/view/common/feed.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/saved/saved_body_content.dart
  mobile_app/lib/view/saved/saved_element.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: release, hotfix, mobile

#296 Revert "release(mobile): 1.5.1+18 (#295)"
  .github/workflows/ci-mobile-app.beta.yml
  .github/workflows/ci-mobile-app.yml
  mobile_app/android/app/build.gradle
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/android/build.gradle
  mobile_app/ios/Podfile.lock
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/saved_page.dart
  mobile_app/lib/router/app_route_information_parser.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/app_state.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/router/mixins/enter_saved_mixin.dart
  mobile_app/lib/router/mixins/enter_settings_mixin.dart
  mobile_app/lib/router/page_configuration.dart
  mobile_app/lib/router/pages.dart
  mobile_app/lib/storage/cafe.dart
  mobile_app/lib/storage/model/cafe.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_main/main_bottom_sheet.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/lib/view/common/feed.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/saved/saved_body_content.dart
  mobile_app/lib/view/saved/saved_element.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: mobile

#297 fix: set android:exported to true
  mobile_app/android/app/src/main/AndroidManifest.xml
Labels: mobile

#298 chore(mobile_app): update version to 1.5.2+19
  mobile_app/pubspec.yaml
Labels: mobile

#299 release(mobile_app): 1.5.2+19
  .github/workflows/ci-mobile-app.beta.yml
  .github/workflows/ci-mobile-app.yml
  mobile_app/android/app/build.gradle
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/android/build.gradle
  mobile_app/ios/Podfile.lock
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/saved_page.dart
  mobile_app/lib/router/app_route_information_parser.dart
  mobile_app/lib/router/app_router_delegate.dart
  mobile_app/lib/router/app_state.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/router/mixins/enter_saved_mixin.dart
  mobile_app/lib/router/mixins/enter_settings_mixin.dart
  mobile_app/lib/router/page_configuration.dart
  mobile_app/lib/router/pages.dart
  mobile_app/lib/storage/cafe.dart
  mobile_app/lib/storage/model/cafe.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_main/main_bottom_sheet.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/lib/view/common/feed.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/saved/saved_body_content.dart
  mobile_app/lib/view/saved/saved_element.dart
  mobile_app/pubspec.lock
  mobile_app/pubspec.yaml
Labels: release, mobile

#300 feat: add install guide popup, banner
  app/package.json
  app/public/icons/logo.png
  app/src/components/common/Banner/images/baseline_close_black_24dp.png
  app/src/components/common/Banner/index.tsx
  app/src/components/common/Icon/index.tsx
  app/src/components/common/InstallationBanner/index.tsx
  app/src/components/common/InstallationPopup/images/baseline_download_white_24dp.png
  app/src/components/common/InstallationPopup/images/star.json
  app/src/components/common/InstallationPopup/index.tsx
  app/src/components/common/Popup/images/baseline_close_black_24dp.png
  app/src/components/common/Popup/index.tsx
  app/src/components/pages/Detail/index.tsx
  app/src/components/pages/main/index.tsx
  app/src/constants/common/mobilePlatform.ts
  app/src/constants/common/webStorage.ts
  app/src/hooks/common/useBanner.ts
  app/src/hooks/common/usePopup.ts
  app/src/utils/ openApplicationStore.ts
  app/src/utils/detectMobilePlatform.ts
  app/src/utils/index.ts
  app/src/utils/sessionStorage.ts
  app/yarn.lock
Labels: frontend, feature

#301 chore: update version to 2.2.5
  app/package.json
Labels: frontend

#302 release(app) : 2.2.5
  app/package.json
  app/public/icons/logo.png
  app/src/components/common/Banner/images/baseline_close_black_24dp.png
  app/src/components/common/Banner/index.tsx
  app/src/components/common/Icon/index.tsx
  app/src/components/common/InstallationBanner/index.tsx
  app/src/components/common/InstallationPopup/images/baseline_download_white_24dp.png
  app/src/components/common/InstallationPopup/images/star.json
  app/src/components/common/InstallationPopup/index.tsx
  app/src/components/common/Popup/images/baseline_close_black_24dp.png
  app/src/components/common/Popup/index.tsx
  app/src/components/pages/Detail/index.tsx
  app/src/components/pages/main/index.tsx
  app/src/constants/common/mobilePlatform.ts
  app/src/constants/common/webStorage.ts
  app/src/hooks/common/useBanner.ts
  app/src/hooks/common/usePopup.ts
  app/src/utils/ openApplicationStore.ts
  app/src/utils/detectMobilePlatform.ts
  app/src/utils/index.ts
  app/src/utils/sessionStorage.ts
  app/yarn.lock
Labels: frontend, release

#303 fix: rename directory name Detail to detail
  app/src/components/pages/detail/index.css
  app/src/components/pages/detail/index.tsx
Labels: frontend, hotfix

#304 release(app): 2.2.6
  app/package.json
  app/public/icons/logo.png
  app/src/components/common/Banner/images/baseline_close_black_24dp.png
  app/src/components/common/Banner/index.tsx
  app/src/components/common/Icon/index.tsx
  app/src/components/common/InstallationBanner/index.tsx
  app/src/components/common/InstallationPopup/images/baseline_download_white_24dp.png
  app/src/components/common/InstallationPopup/images/star.json
  app/src/components/common/InstallationPopup/index.tsx
  app/src/components/common/Popup/images/baseline_close_black_24dp.png
  app/src/components/common/Popup/index.tsx
  app/src/components/pages/Detail/index.css
  app/src/components/pages/Detail/index.tsx
  app/src/components/pages/main/index.tsx
  app/src/constants/common/mobilePlatform.ts
  app/src/constants/common/webStorage.ts
  app/src/hooks/common/useBanner.ts
  app/src/hooks/common/usePopup.ts
  app/src/utils/ openApplicationStore.ts
  app/src/utils/detectMobilePlatform.ts
  app/src/utils/index.ts
  app/src/utils/sessionStorage.ts
  app/yarn.lock
Labels: frontend, release
