Repository inhibitor1217/coffee-hmm, pull requests merged in 2022-02, with the labels that each got.

#241 feat: 카페 상세화면 메뉴 영역 추가
  mobile_app/lib/constants/enum.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/util/type_transformer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_location.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_menu.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_section_title.dart
Labels: mobile

#240 feat: add footer navigation
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/common/button/button_size.dart
  mobile_app/lib/view/common/button/custom_button.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
Labels: mobile

#242 chore(mobile_app): update version and build number to 1.3.0+9
  mobile_app/pubspec.yaml
Labels: mobile

#244 fix: footer design
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
Labels: mobile

#245 release (mobile_app): 1.3.0
  mobile_app/lib/constants/enum.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/util/type_transformer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_location.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_menu.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_section_title.dart
  mobile_app/lib/view/common/button/button_size.dart
  mobile_app/lib/view/common/button/custom_button.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/pubspec.yaml
Labels: release

#247 Update README.md
  README.md
Labels: documentation

#251 release (mobile_app): 1.3.1
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  mobile_app/pubspec.yaml
Labels: release, mobile
