Repository inhibitor1217/coffee-hmm, pull requests merged in 2022-03, with the labels that each got.

#248 feat: 상세 페이지 통합검색 영역 분리
  mobile_app/lib/constants/color.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/util/cafe_detail.dart
  mobile_app/lib/util/time_formatter.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_subway_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_time_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_list_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_location.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_media_search.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_menu.dart
  mobile_app/lib/view/common/cafe_operation_status.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/common/map.dart
Labels: mobile

#256 Revert "chore: install facebook-sdk"
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: mobile, revert

#254 chore(mobile_app): update version and build number to 1.3.2+11
  mobile_app/pubspec.yaml
Labels: mobile

#255 release (mobile_app): 1.3.2
  mobile_app/ios/Runner.xcodeproj/project.pbxproj
  mobile_app/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  mobile_app/lib/constants/color.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/util/cafe_detail.dart
  mobile_app/lib/util/time_formatter.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_subway_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_info_time_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_list_item.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_location.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_media_search.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_menu.dart
  mobile_app/lib/view/common/cafe_operation_status.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/common/map.dart
  mobile_app/pubspec.yaml
Labels: release, mobile

#259 feat: 메인 디자인 구조 변경
  mobile_app/lib/constants/size.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/view/cafe_main/cafe_main_info.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_feed_section.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/cafe_main/main_table_section.dart
  mobile_app/lib/view/common/cafe_image_slider.dart
  mobile_app/lib/view/common/header.dart
Labels: mobile

#258 refactor: separate current cafe, place related state setter
  mobile_app/lib/constants/size.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/pages/main_page.dart
  mobile_app/lib/view/cafe_main/cafe_main_info.dart
  mobile_app/lib/view/cafe_main/main_body_content.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_feed_section.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/cafe_main/main_table_section.dart
  mobile_app/lib/view/common/cafe_image_slider.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/common/initial_loading.dart
Labels: refactor, mobile

#261 Release: job/appOpenGraph@0.1.0
  jobs/serverless.cloudfront.yml
  jobs/src/job/appOpenGraph/const.ts
  jobs/src/job/appOpenGraph/originResponse.ts
  jobs/src/job/appOpenGraph/viewerRequest.ts
  jobs/src/services/api/index.ts
Labels: backend, release

#262 chore(mobile_app): update version and build number to 1.4.0+12
  mobile_app/pubspec.yaml
Labels: mobile

#263 release (mobile_app): 1.4.0
  mobile_app/lib/constants/size.dart
  mobile_app/lib/constants/type.dart
  mobile_app/lib/pages/detail_page.dart
  mobile_app/lib/pages/main_page.dart
  mobile_app/lib/view/cafe_main/cafe_main_info.dart
  mobile_app/lib/view/cafe_main/main_body_content.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_feed_section.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/cafe_main/main_table_section.dart
  mobile_app/lib/view/common/cafe_image_slider.dart
  mobile_app/lib/view/common/header.dart
  mobile_app/lib/view/common/initial_loading.dart
  mobile_app/pubspec.yaml
Labels: release, mobile

#266 Release/mobile/1.4.0+13
  mobile_app/lib/constants/size.dart
  mobile_app/pubspec.yaml
Labels: release, mobile

#271 Create android production build workflow
  .github/workflows/ci-mobile-app.yml
Labels: mobile

#260 feat: add enterDetail callback to set currentCafe
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/view/cafe_main/main_body_content.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_feed_section.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
Labels: mobile

#274 feat: add icon button overlayColor
  mobile_app/lib/constants/color.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_list_item.dart
  mobile_app/lib/view/cafe_main/main_tab.dart
  mobile_app/lib/view/common/button/custom_button.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
Labels: mobile

#275 fix: remove main image resizing
  mobile_app/lib/view/common/cafe_image.dart
Labels: mobile

#276 chore(mobile_app): update build number to 1.4.1+14
  mobile_app/pubspec.yaml
Labels: mobile

#277 fix: add margin in footer icon button
  mobile_app/lib/view/common/button/custom_icon_button.dart
Labels: mobile

#278 release (mobile_app): 1.4.1+14
  mobile_app/lib/constants/color.dart
  mobile_app/lib/router/mixins/enter_cafe_detail_mixin.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_list_item.dart
  mobile_app/lib/view/cafe_main/main_body_content.dart
  mobile_app/lib/view/cafe_main/main_feed_content.dart
  mobile_app/lib/view/cafe_main/main_feed_section.dart
  mobile_app/lib/view/cafe_main/main_slider_section.dart
  mobile_app/lib/view/cafe_main/main_tab.dart
  mobile_app/lib/view/common/button/custom_button.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/lib/view/common/cafe_image.dart
  mobile_app/pubspec.yaml
Labels: release, mobile

#282 fix: change detail-footer widget Positioned to AnimatedPosition
  mobile_app/lib/constants/color.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
Labels: mobile

#283 chore(mobile_app): update build number to 1.4.1+15
  mobile_app/pubspec.yaml
Labels: mobile

#284 release (mobile_app): 1.4.1+15
  mobile_app/lib/constants/color.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_body_content.dart
  mobile_app/lib/view/cafe_detail/cafe_detail_footer.dart
  mobile_app/lib/view/common/button/custom_icon_button.dart
  mobile_app/pubspec.yaml
Labels: mobile
